{% spaceless %}
	{% if name is null %}
		{% set name = "input" %}
	{% endif %}

	{% block before %}{% endblock %}
	{% if options.label %}
		<label for="{{atributes.id }}">{{ options.label }}</label>
	{% endif %}
	<{{ name }}
		{% for index, item in attributes %}{{index}}="{{item}}" {% endfor %}
	{% if name == "input" %}
	/>
	{% else %}
	>
		{% block content %}{% endblock %}
	</{{ name }}>
	{% endif %}
	{% block after %}{% endblock %}
{% endspaceless %}
