{% extends "@DeltaCMS/form/_default.twig" %}

{% block after %}
	<datalist id="{{ attributes.list }}">
		{% for entity in options.entities %}
		<option data-id="{{ entity.id }}">
			{% if entity.name is not null %}
				{{entity.name}}
			{% elseif entity.firstname is not null %}
				{{entity.firstname}} {{ entity.lastname }}
			{% else %}
				{{entity.id}}
			{% endif %}
			</option>
		{% endfor %}
	</datalist>
{% endblock %}
